<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Usuarios</title>
  <link href="{{ url_for('static', filename='../static/style.css') }}" />
</head>

<body>
  <h2>Usuarios</h2>
  <p>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
  <ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
  </p>
  <table class="table">
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Email</th>
    </tr>

    {% for usuario in lista_usuarios %}
    <tr>
      <td>{{ usuario.id }}</td>
      <td>{{ usuario.nome }}</td>
      <td>{{ usuario.email }}</td>
      <td><a href="select/{{usuario.id}}" class="botao-add-usuario">Editar</a></td>
      <td><a href="delete/{{usuario.id}}" class="botao-add-usuario">Deletar</a></td>
    </tr>
    {% endfor %}
  </table>
  <a href="{{ url_for('.add_user_view') }}" class="botao-add-usuario">Adicionar</a>
</body>

</html>